:root {
	box-sizing: border-box;
	--primary-color: #5cdb95;
	--secondary-color: #05386b;
	--link-hover-color: #07539e;
	--btn-color: #27a05d;
	--btn-hover-color: #22864f;
	--side-height: 100px;
	--node-color: #ffa600;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--secondary-color);
}

a:link {
	color: var(--secondary-color);
}

a:visited {
	color: var(--secondary-color);
}

a:hover {
	color: var(--link-hover-color);
}

a:active {
	color: var(--link-hover-color);
}
